* {

	margin: 0;
	overflow-x: hidden;
}

header {

	width: 100%;
	min-height: 100px;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: space-between;
}


.content-name p {

	font-size: 25px;
	margin-left: 50px;
	color: #4D4D4D;
	font-family: 'Roboto';
}

.content-name p span {

	font-family: 'Lobster';
}

.navigation {
  display: flex;
  justify-content: center; /* Centre les boutons horizontalement */
  gap: 10px; /* Ajoute un espace constant entre chaque bouton */
}

.navigation a {
  text-decoration: none;
  padding: 10px 20px; /* Ajoute de l'espace intérieur pour chaque bouton */
  border: 1px solid #fff; /* Bordure blanche */
  color: #fff;
  background-color: transparent; /* Fond transparent */
  border-radius: 5px; /* Angles arrondis */
  transition: background-color 0.3s, color 0.3s; /* Effet au survol */
}

.navigation a:hover {
  background-color: #fff;
  color: #000;
}


.content-title {

	min-height: 50vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #EEEEEE;
}

.content-title p {

	font-size: 7vh;
	color: #4D4D4D;
	font-family: 'Roboto';
}

.content-title p span {

	font-family: 'Lobster';
}
